*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

background:#000;

font-family:Georgia,serif;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

min-height:100vh;

color:#aba5a5;

}

.gif-row{

width:100%;

display:flex;

justify-content:space-between;

padding:20px 40px;

}

.gif-row img{

width:120px;

}

.bottom-gif{

margin-top:20px;

}

.bottom-gif img{

width:140px;

}

.container{

width:650px;

text-align:center;

}

h1{

font-size:55px;

font-style:italic;

margin-bottom:15px;

text-shadow:

0 0 10px rgb(111,21,150),

0 0 30px rgb(111,21,150);

}

p{

font-size:20px;

margin-bottom:20px;

}

input[type=date]{

padding:15px;

width:280px;

background:#aba5a5;

color:#6f1596;

border:none;

border-radius:15px;

font-size:18px;

margin-bottom:30px;

}

h2{

margin-bottom:20px;

font-style:italic;

}

.options{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

margin-bottom:30px;

}

.options label{

background:#aba5a5;

color:#6f1596;

padding:18px;

border-radius:15px;

cursor:pointer;

transition:.4s;

font-size:18px;

}

.options label:hover{

transform:scale(1.05);

box-shadow:

0 0 10px #6f1596,

0 0 30px #6f1596;

}

.options input{

margin-right:10px;

}

button{

background:#aba5a5;

color:#6f1596;

border:none;

padding:18px 35px;

font-size:18px;

border-radius:15px;

cursor:pointer;

transition:.4s;

}

button:hover{

transform:scale(1.08);

box-shadow:

0 0 10px #6f1596,

0 0 30px #6f1596,

0 0 50px #6f1596;

}

#result{

margin-top:35px;

font-size:28px;

font-style:italic;

animation:glow 1.5s infinite;

}

#result h2{

color:#ff66aa;

margin-bottom:15px;

}

@keyframes glow{

0%{

text-shadow:0 0 5px #6f1596;

}

50%{

text-shadow:

0 0 20px #6f1596,

0 0 50px #6f1596;

}

100%{

text-shadow:0 0 5px #6f1596;

}

}

@media(max-width:768px){

.container{

width:90%;

}

h1{

font-size:38px;

}

.gif-row img{

width:80px;

}

.bottom-gif img{

width:100px;

}

.options{

grid-template-columns:1fr;

}

input[type=date]{

width:100%;

}

}