*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

background:#000;

min-height:100vh;

overflow:hidden;

font-family:Georgia, serif;

}

/* Top GIFs */

.gif-row{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 40px;

}

.gif-row img{

width:130px;

height:auto;

animation:float 2s infinite ease-in-out;

}

.gif-row img:first-child{

animation-delay:0s;

}

.gif-row img:last-child{

animation-delay:1s;

}

/* Question */

.question{

text-align:center;

margin-top:40px;

}

.h-text{

font-size:30px;

font-style:italic;

font-weight:bold;

color:#aba5a5;

margin-bottom:20px;

}

.sub-text{

font-size:35px;

font-style:italic;

font-weight:bold;

color:#aba5a5;

}

/* Buttons */

.buttons{

position:absolute;

bottom:80px;

width:100%;

display:flex;

justify-content:center;

gap:60px;

}

/* Button */

.btn{

background:#aba5a5;

color:#6f1596;

padding:18px 35px;

border:none;

border-radius:15px;

font-size:20px;

cursor:pointer;

transition:.3s;

}

.btn:hover{

transform:scale(1.08);

box-shadow:

0 0 10px rgb(111,21,150),

0 0 30px rgb(111,21,150);

}

/* Floating Animation */

@keyframes float{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-12px);

}

100%{

transform:translateY(0px);

}

}

/* Mobile */

@media(max-width:768px){

.gif-row{

padding:20px;

}

.gif-row img{

width:100px;

}

.question{

margin-top:30px;

}

.h-text{

font-size:36px;

}

.sub-text{

font-size:20px;

}

.buttons{

bottom:50px;

gap:20px;

}

.btn{

padding: 14px 20px;

font-size:16px;

}

}

