*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#000;

    min-height:100vh;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    overflow:hidden;

    font-family:Georgia, serif;
}

/* Top GIFs */

/* Main Container */

.container{

    text-align:center;

    z-index:2;
}

/* Heading */

.h-text{

    color:#aba5a5;

    font-size:70px;

    font-style:italic;

    margin-bottom:15px;

    text-shadow:
    0 0 10px rgb(111,21,150),
    0 0 25px rgb(111,21,150);
}

.sub-text{

    color:#aba5a5;

    font-size:24px;

    margin-bottom:30px;

    font-style:italic;
}

/* Center GIF */

.center-gif{

margin:30px 0;

}

.center-gif img{

width:240px;

height:auto;

border-radius:20px;

animation:bounce 1.5s infinite ease-in-out;

box-shadow:
0 0 10px rgb(111,21,150),
0 0 30px rgb(111,21,150);

}

@keyframes bounce{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-12px);

}

100%{

transform:translateY(0);

}

}

/* Button */

.date-btn{

    background:#aba5a5;

    color:rgb(111,21,150);

    border:none;

    border-radius:15px;

    padding:18px 40px;

    font-size:20px;

    cursor:pointer;

    transition:0.4s ease;
}

.date-btn:hover{

    transform:scale(1.08);

    box-shadow:
    0 0 10px rgb(111,21,150),
    0 0 30px rgb(111,21,150),
    0 0 50px rgb(111,21,150);
}

/* Glowing Heart */

.heart-container{

    position:absolute;

    bottom:60px;

    left:50%;

    transform:translateX(-50%);
}

.heart-container i{

    color:#270726;

    font-size:160px;

    animation:pulse 1.3s infinite;

    text-shadow:
    0 0 5px rgb(111,21,150),
    0 0 40px rgb(111,21,150),
    0 0 80px rgb(111,21,150);
}

@keyframes pulse{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.2);
    }

    100%{
        transform:scale(1);
    }
}

/* Mobile */

@media(max-width:768px){

    .h-text{
        font-size:45px;
    }

    .sub-text{
        font-size:18px;
    }

    .gif-row img{
        width:90px;
    }

    .center-gif img{
        width:160px;
    }

    .heart-container i{
        font-size:110px;
    }

    .date-btn{
        padding:15px 25px;
        font-size:16px;
    }
}